<!-- Template pour créer un cours -->
{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}
{% block content %}
    {% load static %}
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row justify-center align-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-content">
                            <h2 class="center-align mb-4 pb-2 pb-md-0 mb-md-5">Créer un nouveau cours</h2>
                            <form method="POST" action="{% url 'app_creer_cours' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="input-field col-md-6 mb-4">
                                        {{ form.as_p }}
                                    </div>
                                </div>
                                <button class="btn waves-effect waves-light" type="submit">Créer le cours</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}